.newsroom {
  background-color: #fafafc;
  padding: 100px 0;
  &__container {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    li {
      max-width: 376px;
      background-color: #fff;
    }
  }
  &__subtitle {
    color: #6f7278;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 150.769% */
  }
  &__text {
    min-height: 144px;
    padding: 30px;
    background-color: #fff;
  }
  &__title {
    margin-bottom: 10px;
  }
}
